<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pirkiniu krepselis</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:replace="fragments/main :: menu"></div>
<div class="container">
    <div th:if="${!cart.empty}" class="m-2" th:include="fragments/main :: toolbar (url='/cart/checkout', text='Pirkti')"></div>

    <th:block th:if="${cart.empty}">
        <p>Jūsų pirkiniu krepselis yra tuscias! Parduotuveje yra <span th:text="${totalProductsInStore}"></span> produktu! Nejaugi neissirenkat? :o </p>
    </th:block>

    <th:block th:if="${not cart.empty}">
        <table class="table">
            <tr>
                <th>Produktas</th>
                <th>Kaina</th>
            </tr>
            <tr th:each="product : ${cart}">
                <td th:text="${product.name}" />
                <td th:text="${product.price}" />
            </tr>
        </table>
        <div th:object="${cartPrice}" class="right">
        <p>Viso kaina be PVM: <span th:text="*{totalNetto}"></span></p>
        <p>Viso PVM: <span th:text="*{totalVat}"></span></p>
        <p>Viso kaina su PVM: <span th:text="*{totalBrutto}"></span></p>
        </div>
    </th:block>
</div>
<div th:replace="fragments/main :: footer"></div>
</body>
</html>
