<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vartotoju sąrašas</title>

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/static/css/global.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:replace="fragments/main :: menu"></div>
<div th:replace="fragments/main :: toolbar (url='/private/user/new', text='Pridėti naują vartotoją')"></div>
<div class="container">
    <th:block th:if="${usersPage.empty}">
        <p>Jūs neturite pridėtų vartotoju!</p>
    </th:block>

    <th:block th:if="${not usersPage.empty}">
        <table class="table">
            <tr>
                <th>Slapyvardis</th>
                <th>Tel. nr</th>
                <th>Pasto kodas</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="user : ${usersPage}">
                <td th:text="${user.username}" />
                <td th:text="${user.phone}" />
                <td th:text="${user.zip}" />
                <td><a th:href="@{/user/update/{id}(id=${user.id})}"><button class="btn btn-bg bg-secondary text-white">Koreguoti</button></a></td>
                <td><a th:href="@{/user/{id}(id=${user.id})}"><button class="btn btn-bg bg-primary text-white">Profilis</button></a></td>
            </tr>
        </table>

    <div th:include="fragments/main :: pagination" th:object="${usersPage}"></div>
    </th:block>
    <div th:replace="fragments/main :: footer"></div>
</div>
</body>
</html>
