<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produktų sąrašas</title>
    <style>
        body {
            background-color: darkgrey;
        }
    </style>
</head>
<body>
<th:block th:if="${products.empty}">
    <p>Jūs neturite pridėtų produktų!</p>
</th:block>

<th:block th:if="${not products.empty}">
    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Kiekis</th>
            <th>Kaina</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}" />
            <td th:text="${product.inStock}" />
            <td th:text="${product.price}" />
            <td><a th:href="@{/product/edit-name/{id}(id=${product.id})}">Koreguoti pavadinimą</a></td>
            <td><a th:href="@{/product/{id}(id=${product.id})}">Rodyti</a></td>
            <td><a th:href="@{/product/delete/{id}(id=${product.id})}">Trinti</a></td>
        </tr>
    </table>
</th:block>
    <a th:href="@{/product/new}">Kurti naują</a>
</body>
</html>
