<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produktų sąrašas</title>

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" />
</head>
<body>
<p th:text="#{hello}"></p>
<th:block th:if="${productsPage.empty}">
    <p>Jūs neturite pridėtų produktų!</p>
</th:block>

<th:block th:if="${not productsPage.empty}">
    <table>
        <tr>
            <th th:text="#{product.table.name}"></th>
            <th th:text="#{product.table.quantity}"></th>
            <th th:text="#{product.table.price}"></th>
        </tr>
        <tr th:each="product : ${productsPage.content}">
            <td th:text="${product.name}" />
            <td th:text="${product.inStock}" />
            <td th:text="${product.price}" />
            <td><a th:href="@{/product/edit-name/{id}(id=${product.id})}">Koreguoti pavadinimą</a></td>
            <td><a th:href="@{/product/{id}(id=${product.id})}">Rodyti</a></td>
            <td><a th:href="@{/product/delete/{id}(id=${product.id})}">Trinti</a></td>
        </tr>
    </table>

    <div>
        <th:block th:each="pageNumber : ${#numbers.sequence(0, productsPage.totalPages - 1)}">
            <a th:class="${pageNumber == productsPage.number ? 'currentPage' : ''}"
               th:href="@{/product?page={pn}&size={size}(pn=${pageNumber}, size=${productsPage.size})}"
               th:text="${pageNumber + 1}"></a>
        </th:block>
    </div>

</th:block>
    <a th:href="@{/product/new}">Kurti naują</a>
</body>
</html>
