<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produktų sąrašas</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:replace="fragments/main :: menu"></div>
<div class="container">
    <div th:replace="fragments/main :: toolbar (url='/product/new', text='Pridėti naują')"></div>
    <p th:text="#{hello}"></p>
    <th:block th:if="${productsPage.empty}">
        <p>Jūs neturite pridėtų produktų!</p>
    </th:block>

    <th:block th:if="${not productsPage.empty}">
        <table class="table">
            <tr>
                <th>
                    <a th:with="direction=${productsPage.sort.getOrderFor('name')?.direction}"
                       th:href="@{/product(sort='name,' + ${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                        <span th:text="#{product.table.name}">Pavadinimas</span>
                        <i th:if="${direction != null}"
                           class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                    </a>
                </th>
                <th>
                    <a th:with="direction=${productsPage.sort.getOrderFor('inStock')?.direction}"
                       th:href="@{/product(sort='inStock,' + ${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                        <span th:text="#{product.table.quantity}">Kiekis</span>
                        <i th:if="${direction != null}"
                           class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                    </a>
                </th>
                <th>
                    <a th:with="direction=${productsPage.sort.getOrderFor('price')?.direction}"
                       th:href="@{/product(sort='price,' + ${direction?.name() == 'ASC' ? 'DESC' : 'ASC'})}">
                        <span th:text="#{product.table.price}">Kaina</span>
                        <i th:if="${direction != null}"
                           class="fas" th:classappend="${direction.ascending ? 'fa-arrow-down' : 'fa-arrow-up'}"></i>
                    </a>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="product : ${productsPage}">
                <td th:text="${product.name}" />
                <td th:text="${product.inStock}" />
                <td th:text="${product.price}" />
                <td><a th:href="@{/product/edit-name/{id}(id=${product.id})}">Koreguoti pavadinimą</a></td>
                <td><a th:href="@{/product/{id}(id=${product.id})}">Rodyti</a></td>
                <td><a th:href="@{/product/delete/{id}(id=${product.id})}">Trinti</a></td>
                <td><a th:href="@{/cart/add/{id}(id=${product.id})}">Prideti i vezimeli</a></td>
            </tr>
        </table>

    <div th:include="fragments/main :: pagination" th:object="${productsPage}">
<!--    fragmentas renderincis cia    -->
    </div>

    </th:block>
</div>
<div th:replace="fragments/main :: footer"></div>
</body>
</html>
